
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>{{ item[0].title }}</mat-card-title>
        </mat-card-header>
        <img
        mat-card-image
        src="https://dummyimage.com/200"
        alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
        <p>
            <b>Genre:</b> {{ item[0].genre }}
        </p>
        <p>
        {{ item[0].description }}
        </p>
        <p *ngIf="qty != 0"><b>Price:</b> ${{ item[0].price * qty }}</p>
        <p *ngIf="qty == 0"><b>Price:</b> ${{ item[0].price}}</p>
        <p>
            <mat-form-field class="example-full-width">
            <input
                matInput
                placeholder="QTY"
                type="number"
                min="1"
                name="qty"
                value="1"
                [(ngModel)]="qty"
            />
            </mat-form-field>
        </p>
        </mat-card-content>
        <mat-card-actions>
        <a mat-flat-button color='primary' [routerLink]="['/product', item[0].id]" >Details</a>
        <button mat-flat-button color='accent' (click)="addItemToCart(item[0])">Add</button>
        </mat-card-actions>
    </mat-card>
