<div *ngIf="hasResult; else noResult">
    <section *ngFor="let product of products" class="container">
      <div class="item">
        <img src="https://dummyimage.com/400" [alt]="product?.title" />
      </div>
      <div class="item">
        <h2>{{ product?.title }}</h2>
        <p>
          <b>Genre:</b> <i>{{ product?.genre }}</i>
        </p>
        <p><b>Description:</b> {{ product?.description }}</p>
        <p *ngIf="product.newPrice"><b>Price:</b> ${{ product?.newPrice}}</p>
        <p *ngIf="!product.newPrice"><b>Price:</b> ${{ product?.price}}</p>
        <mat-form-field class="example-full-width">
          <input
            #qty
            matInput
            placeholder="QTY"
            type="number"
            min="1"
            name="qty"
            [(ngModel)]="product.qty"
            (change)="updateQtyNumber(qty.value,product)"
          />
        </mat-form-field>
        <button mat-flat-button color="warn" (click)="removeItem(product.id)">
          Remove
        </button>
      </div>
      <div class="divider"></div>
    </section>
    <section class="container">
      <p><b>TOTAL: </b> ${{ granTotal }}</p>
    </section>
  </div>
  <ng-template #noResult>
    <p id="not-results">Not items results</p>
  </ng-template>
  